html {
  font: 75% Times New Roman, sans-serif;
}
/*The my color combo's*/
body
{
color:Safety Orange;
background-color:cinnamon;
}
ol
{
color: hsla(39, 97%, 44%, 1.0);
background-color: hsla(16, 96%, 44%, 1.0);
}

h1
{
color:#DB9103;
background-color:#DA3E05;
}
h2
{
color: hsl(39, 97%, 44%);
background-color: hsl(16, 96%, 44%);
}
p
{
color: rgba(219, 145, 3, 1.0);
background-color: rgba(218, 62, 5, 1.0);
}
ul
{
color: rgb(219, 145, 3);
background-color: rgb(218, 62, 5);
} 